

.body{
    background-color: #B7B6D4;
    width: 60%;
    margin: 0px auto;
    border-radius: 10px;
}

.titulo{
    text-align: center;
    padding-top: 15px;
}



.input{
    text-align: center;
   margin-right: 250px;
   margin-left: 250px;
   padding-bottom: 15px;
}