.body6{
    background-color: #8df484;
    margin-top: 10px;
    width: 60%;
    margin: 0px auto;
    border-radius: 10px;
}

.titulo6{
    text-align: center;
    padding-top: 15px;
}



.input6{
    text-align: center;
   margin-right: 250px;
   margin-left: 250px;
   padding-bottom: 15px;
}