.body1{
    background-color: #edf484;
    margin-top: 10px;
    width: 60%;
    margin: 0px auto;
    border-radius: 10px;
}

.titulo1{
    text-align: center;
    padding-top: 5px;
}



.input1{
    text-align: center;
   margin-right: 250px;
   margin-left: 250px;
   padding-bottom: 15px;
}